<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Cube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="cube-container">
        <div class="cube" data-side="{{ side }}">
            <div class="front">
                <h1>Front</h1>
                <a href="/back">Back</a>
            </div>
            <div class="back">
                <h1>Back</h1>
                <a href="/right">Right</a>
            </div>
            <div class="right">
                <h1>Right</h1>
                <a href="/left">Left</a>
            </div>
            <div class="left">
                <h1>Left</h1>
                <a href="/bottom">Bottom</a>
            </div>
            <div class="top">
                <h1>Top</h1>
                <a href="/">Front</a>
            </div>
            <div class="bottom">
                <h1>Bottom</h1>
                <a href="/top">Top</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
