<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Cube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="cube-container">
        <div class="cube" data-side="{{ side }}">
            <div class="front">
                {% include 'includes/home.html' %}
            </div>
            <div class="back">
                {% include 'includes/about_us.html' %}
            </div>
            <div class="right">
                {% include 'includes/contact_us.html' %}
            </div>
            <div class="left">
                {% include 'includes/services.html' %}
            </div>
            <div class="top">
                {% include 'includes/reviews.html' %}
            </div>
            <div class="bottom">
                {% include 'includes/blog.html' %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
