<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Cube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="cube-container">
        <div class="cube">
            <div class="front">
                <h1>Front</h1>
                <button onclick="rotateCube('back')">Back</button>
            </div>
            <div class="back">
                <h1>Back</h1>
                <button onclick="rotateCube('right')">Right</button>
            </div>
            <div class="right">
                <h1>Right</h1>
                <button onclick="rotateCube('left')">Left</button>
            </div>
            <div class="left">
                <h1>Left</h1>
                <button onclick="rotateCube('bottom')">Bottom</button>
            </div>
            <div class="top">
                <h1>Top</h1>
                <button onclick="rotateCube('front`')">Front</button>
            </div>
            <div class="bottom">
                <h1>Bottom</h1>
                <button onclick="rotateCube('top')">Top</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
